.col-xs-1 {
  background-color: #E0FFFF;
  border: 1px solid #fff;
  height: 40px;
}
.col-md-3 {
  background-color: cyan;
  border: 1px solid #fff;
  height: 40px;
}
.col-sm-6 {
  background-color: blue;
  border: 1px solid #fff;
  height: 40px;
}
.col-lg-2 {
  background-color: purple;
  border: 1px solid #fff;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .col-lg-2 {
    background-color: blue;
  }
}

@media screen and (min-width: 375px) {
  .col-lg-2 {
    background-color: green;
  }
}
